<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Datatable</h1>
</div>
<div class="wrapper-md" ng-controller="TransactionController">

  <div class="panel panel-default" ng-if="!showError">
    <div class="panel-heading">
      DataTables
    </div>{{strTransaction}}
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: '[{{strTransaction.storetransactions}}]',
          aoColumns: [
            { mData: 'transactionId' },
            { mData: 'transactionAmount' },
            { mData: 'transactionDescription' },
            { mData: 'transactionDate' },
            { mData: 'transactionStatus' }
          ]
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">transactionId</th>
            <th  style="width:25%">Amount</th>
            <th  style="width:25%">Platform</th>
            <th  style="width:15%">Date</th>
            <th  style="width:15%">Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
 <div class="wrapper-md" ng-if="showError">
   <h3>{{msg}}</h3>
 </div>
</div>
